* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}

.square {
    border: 1px solid black;
    height: 60px;
    width: 60px;
}

